/* base styles */

body {
  font-family: sans-serif;
  /* https://uigradients.com/#ColorsOfSky */
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #333333;
  text-align: center;
}

/* end base styles */

/* container module */

.container {
  width: 75%;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
}

/* end container module */

/* grid module */

.row {
  display: flex;
  justify-content: space-around;
}

.col-1-2 {
  width: calc(45% - 18px);
}

.col-full {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .row {
    flex-wrap: wrap;
  }
  .col-1-2 {
    width: 100%;
    margin-bottom: 18px;
  }
}

/* end grid module */

/* message module */

.message {
  text-align: center;
}
.message h3 {
  font-weight: normal;
}

/* end message module */

/* loading module */

.loading {
  text-align: center;
}

.loading span.dot1 {
  opacity: 0;
  animation: 2s step-end 0s infinite dot1;
}

@keyframes dot1 {
  25% {
    opacity: 1;
  }
}

.loading span.dot2 {
  opacity: 0;
  animation: 2s step-end 0s infinite dot2;
}

@keyframes dot2 {
  50% {
    opacity: 1;
  }
}

.loading span.dot3 {
  opacity: 0;
  animation: 2s step-end 0s infinite dot3;
}

@keyframes dot3 {
  75% {
    opacity: 1;
  }
}

/* end loading module */

/* results module */

.results {
  margin-top: 35px;
}

.results ul {
  list-style: none;
  padding: 0;
}

.results > .synonyms,
.results > .antonyms {
  padding: 18px;
  border: 1px solid #333333;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  text-align: center;
}

.results > .synonyms {
  background-color: #d3ffda;
}

.results > .antonyms {
  background-color: #ffd3d3;
}

/* end results module */

/* footer module */

footer {
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
}

footer p {
  font-size: 0.75em;
}

@media only screen and (max-width: 800px) {
  footer {
    position: static;
  }
}

@media only screen and (max-height: 600px) {
  footer {
    position: static;
  }
}

/* end footer module */

/* states */

.is-hidden {
  display: none;
}

input.is-error {
  border: 1px solid red;
}

/* end states */